@import "~bootstrap/scss/bootstrap";
@import "./variables";

html {
    background: rgb(15, 23, 42);
}

.layout {
    background: rgb(15, 23, 42);
}

.main {
    padding-top: 100px;
    background: rgb(38, 42, 50);;
}


.h-fill {
    min-height: 100%;
    height: 100%;
}

.bg-black {
    background-color: #343a40!important;
}

.svg-inline--fa {
    margin-right: 5px;
}
